/* Target the outer page container when it has the wide-page class */
.page.wide-page .page__inner-wrap {
  max-width: 100% !important;
  width: 100% !important;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}




/* Make profile image rectangular */
.author__avatar {
  border-radius: 0 !important;  /* Remove the circular shape */
  overflow: visible;
  margin-bottom: 1rem;
}

/* Control the size and style of the image */
.author__avatar img {
  width: 230px;
  height: auto;
  border-radius: 0 !important;
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add default shadow */
}

/* Set default link color site-wide */
a {
  color: #2368c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
